<h1>{{ heroe.nombre | uppercase }} (<small>{{ heroe.aparicion | date:'y' }}</small>) </h1>
<hr>

<div class="row">
  <div class="col-md-4 text-center">
    <img class="img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <a [routerLink]="['/heroes']" class="btn btn-danger btn-block" >Regresar</a>
  </div>

  <div class="col-md-2">
    <img *ngIf="heroe.casa=='DC'" class="img-fluid img-logo" src="./assets/img/dc_logo.png" alt="DC Comics">
    <img *ngIf="heroe.casa=='Marvel'" class="img-fluid img-logo" src="./assets/img/marvel_logo.png" alt="Marvel Studios">
  </div>

  <div class="col-md-6">
    <div class="">
      <em>{{ heroe.bio }}</em>
    </div>
  </div>

</div>
