<div class="row">
  <div class="col-md-4 text-center">
    <img class="img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <a [routerLink]="['/heroes']" class="btn btn-danger btn-block" >Regresar</a>
  </div>

  <div class="col-md-8">

    <div class="row">
      <div class="col">
        <h1>{{ heroe.nombre }} </h1>
        <small>Fecha de aparicion: {{ heroe.aparicion }}</small>
      </div>

      <div class="text-right col">
        <img *ngIf="heroe.casa=='DC'" class="img-fluid img-logo" src="./assets/img/dc_logo.png" alt="DC Comics">
        <img *ngIf="heroe.casa=='Marvel'" class="img-fluid img-logo" src="./assets/img/marvel_logo.png" alt="Marvel Studios">
      </div>
    </div>

    <div class="">
      <em>{{ heroe.bio }}</em>
    </div>

  </div>
</div>
